.venv
**/__pycache__
hf_token.txt
**/*.pth
.graph_llama_report.jsonl
*llama_report.jsonl

src/kernels/
src/graph_attn_tests/

*.gtds/
*.gtds.lock
job_logs/
.inductor_cache/
**/_inductor_cache/

wandb_login.sh
hf_login.sh
checkpoints
wandb

rclone*
CLAUDE_CONTEXT.md