# Core ML Frameworks
torch>=2.0.0
transformers==4.50.3
accelerate
huggingface_hub[cli]==0.27.1
peft
triton
scikit-learn

# Datasets
datasets>=2.19.0 

# Tokenizers
sentencepiece
protobuf

# Graph Processing
torch-geometric
networkx
scipy
--find-links https://data.pyg.org/whl/torch-2.10.0+cu128.html
torch-sparse
torch-scatter

# Utilities & Visualization
numpy>=1.21,<2.0.0
matplotlib
tqdm
wandb
tabulate
pytest

# Interpretability
seaborn

# Other
typing-extensions>=4.8.0
pydantic