# Core ML Frameworks
torch>=2.0.0
transformers==4.50.3
accelerate
huggingface_hub[cli]==0.27.1

# Datasets
datasets>=2.19.0 

# Tokenizers
sentencepiece
protobuf

# Graph Processing
torch-geometric
networkx
scipy

# Utilities & Visualization
numpy
matplotlib
tqdm
wandb

# Interpretability
seaborn

# Other
typing-extensions>=4.8.0
pydantic